@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Public+Sans&display=swap");
:root {
  --black: #000000;
  --vulcan: #14181f80;
  --white: #ffffff;

  --font-size-l: 19px;
  --font-size-m: 14px;
}

.cancel {
  cursor: pointer;
  align-items: center;
  background-color: var(--black);
  border-radius: 8px;
  display: flex;
  height: 42px;
  justify-content: flex-end;
  margin-left: 18px;
  min-width: 163px;
  mix-blend-mode: normal;
  padding: 0 13.9px;
}
.cancel-1 {
  cursor: pointer;
  align-items: center;
  background-color: #edf1f7;
  border-radius: 8px;
  display: flex;
  height: 42px;
  justify-content: flex-end;
  min-width: 163px;
  padding: 0 13.9px;
}
.cancel-2 {
  color: var(--vulcan);
  font-family: "Poppins";
  font-size: var(--font-size-m);
  font-weight: 600;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 133px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 133px;
}
.delete {
  color: var(--white);
  font-family: "Poppins";
  font-size: var(--font-size-m);
  font-weight: 600;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 133px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 133px;
}
.delete-content {
  color: var(--black);
  font-family: "Poppins";
  font-size: var(--font-size-l);
  font-weight: 600;
  letter-spacing: 0;
  min-height: 29px;
  mix-blend-mode: normal;
}
.delete-flex-row {
  align-items: flex-start;
  display: flex;
  margin-top: 22px;
  min-width: 344px;
}
.delete-popup {
  margin-top: 100px;
  margin-left: 100px;
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 8px 24px #afbdc440;
  display: flex;
  flex-direction: column;
  min-height: 210px;
  mix-blend-mode: normal;
  padding: 27px 22px;
  width: 400px;
}
.delete-desc {
  color: var(--vulcan);
  font-family: "Public Sans";
  font-size: var(--font-size-m);
  height: 40px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 22px;
  min-height: 40px;
  mix-blend-mode: normal;
  width: 282px;
}

* {
  box-sizing: border-box;
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
