@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --header-height: 3rem;
  /*===== Colors =====*/
  --first-color: #FDF9F1;
  --first-color-dark: #303030;
  --first-color-darken: #000000;
  --black-color: #000000;
  --white-color: #ffffff;
  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2.5rem;
  --normal-font-size: .938rem;
  /*===== z index =====*/
  --z-fixed: 100; 
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 5rem;
    --normal-font-size: 1rem;
  }
}

/*===== BASE =====*/

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

h1, p, ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .navToggle, .navClose {
    display: none;
  }
  .navList {
    display: flex;
  }
  .navItem {
    margin-left: 3rem;
    margin-bottom: 0;
  }
  .homeContainer {
    height: 100vh;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: 1fr;
    row-gap: 0;
    align-items: center;
    justify-content: center;
  }
  .homeImg {
    order: 1;
    width: 375px;
    height: 289px;
  }
  .homeImg img {
    width: 375px;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .homeContainer {
    justify-content: initial;
    column-gap: 4.5rem;
  }
  .homeImg {
    width: 604px;
    height: 466px;
  }
  .homeImg img {
    width: 604px;
  }
}