body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "GilroyMedium";
  src: local("GilroyMedium"), url("./fonts/Gilroy/Gilroy-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "GilroyLight";
  src: local("GilroyLight"), url("./fonts/Gilroy/Gilroy-Light.ttf");
}

@font-face {
  font-family: "GilroyBold";
  src: local("GilroyBold"), url("./fonts/Gilroy/Gilroy-Bold.ttf");
  font-weight: normal;
}

