.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.home {
    background-color: var(--first-color);
    overflow: hidden;
}

.homeContainer {
    height: calc(100vh - var(--header-height));
    grid-template-rows: repeat(2, max-content);
    row-gap: 1.5rem;
}

.homeImg {
    position: relative;
    justify-self: center;
    width: 302px;
    height: 430px;
}

.mockup {
    position: absolute;
    top: 0;
    left: 0;
}

.qrcode {
    position: absolute;
    top: 0;
    left: 0;
}

.homeData {
    color: var(--black-color);
    width: 500px;
}

.homeTitle {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1rem;
}

.homeDescription {
    margin-bottom: 2.5rem;
}

.homeButton {
    display: inline-block;
    background-color: var(--first-color-dark);
    color: var(--white-color);
    padding: 1.125rem 2rem;
    border-radius: .5rem;
}

.homeButton:hover {
    background-color: var(--first-color-darken);
}

/* ===== MEDIA QUERIES =====*/

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    /* .nav {
        height: calc(var(--header-height) + 1.5rem);
    }
    .navToggle, .navClose {
        display: none;
    }
    .navList {
        display: flex;
    }
    .navItem {
        margin-left: 3rem;
        margin-bottom: 0;
    } */
    .homeContainer {
        height: 100vh;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: 1fr;
        row-gap: 0;
        align-items: center;
        justify-content: center;
    }
    .homeImg {
        order: 1;
        width: 435px;
        height: 460px;
    }
    .mockup {
        width: 375px;
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
    .homeContainer {
        justify-content: initial;
        column-gap: 4.5rem;
    }
    /* .homeImg {
        width: 225px;
        height: 480px;
    } */
    .mockup {
        padding-left: 4.5rem;
        width: 375px;
        height: 550px;
    }
    .qrcode {
        margin-left: 6.9rem;
        margin-top: 180px;
        height: 180px;
        width: 160px;
    }
}