.FileExplorer {
    position: relative;
    width: 1440px;
    height: 100%;
    background: radial-gradient( 28.91% 81.86% at 6.93% 9.5%, #ffffff 0%, rgba(254, 254, 255, 0.81) 100%);
    border-radius: 16.1982px;
}