@import url("https://fonts.googleapis.com/css?family=Poppins:700,300,500");

.close {
    cursor: pointer;
    align-items: center;
    justify-content: end;
    display: flex;
    height: 50px;
    margin-left: 15px;
    padding: 0 3px;
    width: 24px;
}

.snackbar-frame-1 {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 24px rgba(62, 66, 69, 0.32);
    display: flex;
    height: 60px;
    overflow: hidden;
    padding: 0 20px;
    width: 483px;
}

.poppins-medium-black-14px {
    color: black;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.snackbar-text-1 {
    letter-spacing: 0px;
    margin-left: 15px;
    margin-top: 1px;
    min-height: 21px;
    min-width: 365px;
}

.snackbar-verified {
    align-items: center;
    display: flex;
    height: 24px;
    width: 24px;
}