
.popup {
    position: relative;
    font-family: "Poppins", Helvetica, Arial, serif;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 10px;
    width: 400px;
    height: 140px;
    box-shadow: rgb(0 0 0 / 12%) 0px 30px 60px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
}

.path {
    overflow: hidden;
    font-size: 8px;
    font-weight: 100;
}

.bottom {
    position: absolute;
    width: 100%;
    bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popup-input {
    margin-left: 30px;
    padding-left: 10px;
    border: 0px solid;
    width: 200px;
    background-color: #f8f9fa;
    border-radius: 10px;
}

.create {
    cursor: pointer;
    margin-right: 30px;
    border: 0px solid;
    background-color: #303030;
    color: #fff;
    padding: 10px 12px;
    border-radius: 5px;
}

.create:hover {
    background-color: #000;
}