@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 5rem;
        --normal-font-size: 1rem;
    }
}

/*BASE*/

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: var(--header-height) 0 0 0;
    padding: 0;
    font-family: GilroyMedium;
    font-size: var(--normal-font-size);
    font-weight: 500;
}

h1, p, ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .navMenu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        padding: 3.5rem 1.5rem 0;
        background: rgba(255, 255, 255, .3);
        backdrop-filter: blur(10px);
        transition: .5s;
    }
}

.navClose {
    position: absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.navItem {
    margin-bottom: 2rem;
}

.navClose, .navLink, .navLogo, .navToggle {
    color: var(--white-color);
}

.navLink:hover {
    color: var(--first-color-dark);
}

.navToggle {
    font-size: 1.5rem;
    cursor: pointer;
}

/*=== Show menu ===*/

.show {
    right: 0;
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }
    .navToggle, .navClose {
        display: none;
    }
    .navList {
        display: flex;
    }
    .navItem {
        margin-left: 3rem;
        margin-bottom: 0;
    }
    .homeContainer {
        height: 100vh;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: 1fr;
        row-gap: 0;
        align-items: center;
        justify-content: center;
    }
    .homeImg {
        order: 1;
        width: 375px;
        height: 289px;
    }
    .homeImg img {
        width: 375px;
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
    .homeContainer {
        justify-content: initial;
        column-gap: 4.5rem;
    }
    .homeImg {
        width: 604px;
        height: 466px;
    }
    .homeImg img {
        width: 604px;
    }
}