.main {
    position: relative;
}

.mockup {
    left: 145px;
    position: absolute;
    width: 470px;
    height: 1014px;
    background: #F1F3F6;
    box-shadow: 80px 60px 60px rgba(107, 127, 153, 0.2), inset -30px -2px 30px rgba(64, 82, 128, 0.1), inset 30px 2px 30px rgba(255, 255, 255, 0.8);
    border-radius: 50px;
}

.rect6 {
    position: absolute;
    width: 456px;
    height: 988px;
    left: 7px;
    top: 13px;
    box-shadow: inset -30px -2px 30px rgba(64, 82, 128, 0.1), inset 30px 2px 30px rgba(255, 255, 255, 0.8);
    border-radius: 50px;
}

.rect4 {
    position: absolute;
    width: 350px;
    height: 409px;
    left: calc(50% - 350px/2);
    top: calc(50% - 409px/2 + 52.5px);
    background: #FFFAFA;
    border-radius: 15px;
}

#mockup_text {
    position: absolute;
    width: 218px;
    height: 36px;
    left: calc(50% - 218px/2);
    top: calc(50% - 36px/2 - 311px);
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #000000;
}

.group1 {
    position: absolute;
    width: 30.16px;
    height: 3.63px;
    left: 220px;
    top: 25px;
}

.g11 {
    position: absolute;
    width: 3.63px;
    height: 3.63px;
    left: 220px;
    top: 25px;
    background: #E1E1E1;
    border-radius: 50px;
}

.g12 {
    position: absolute;
    width: 3.63px;
    height: 3.63px;
    left: 246.53px;
    top: 25px;
    background: #E1E1E1;
    border-radius: 50px;
}

.g13 {
    position: absolute;
    width: 3.63px;
    height: 3.63px;
    left: 239.89px;
    top: 25px;
    background: #E1E1E1;
    border-radius: 50px;
}

.g14 {
    position: absolute;
    width: 3.63px;
    height: 3.63px;
    left: 233.26px;
    top: 25px;
    background: #E1E1E1;
    border-radius: 50px;
}

.g15 {
    position: absolute;
    width: 3.63px;
    height: 3.63px;
    left: 226.63px;
    top: 25px;
    background: #E1E1E1;
    border-radius: 50px;
}

.group2 {
    position: absolute;
    width: 277px;
    height: 13px;
    left: 96px;
    top: 1001px;
}

.g21 {
    position: absolute;
    width: 7px;
    height: 13px;
    left: 366px;
    top: 1001px;
    background: #E3E5E8;
}

.g22 {
    position: absolute;
    width: 7px;
    height: 13px;
    left: 96px;
    top: 1001px;
    background: #E3E5E8;
}

.group3 {
    position: absolute;
    width: 277px;
    height: 13px;
    left: 96px;
    top: 0px;
}

.g3-1 {
    position: absolute;
    width: 7px;
    height: 13px;
    left: 366px;
    top: 0px;
    background: #E3E5E8;
}

.g3-2 {
    position: absolute;
    width: 7px;
    height: 13px;
    left: 96px;
    top: 0px;
    background: #E3E5E8;
}